@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

button {
    background: none;
    border: none;
}

input {
    font-size: 14px;
    line-height: 24px;
    padding: 6px 8px;
    width: 100%;
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    border: 1px solid #dadce0;
}

.for-center{
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.checkbox-effect {
    border-radius: 50%;
    padding: 11px 12px 9px 12px;
}

.checkbox-effect:hover {
    background-color: #ececec;
    transition: all ease-out .3s;
}

.check-box-hover-color:hover {
    background-color: #c7cbff;
}

.signup-main-wrapper,
.sign-in-email,
.sign-in-pass {
    padding-top: 10vh;

}

.signup-main-wrapper .container {
    padding: 48px 40px 36px;
}

.signup-main-wrapper .signup-wrapper {
    justify-content: space-between;
    gap: 48px;
}

.flex {
    display: flex;
}

.signup-left-part {
    width: 354px;
}

.google-logo-image img {
    width: 75px;
}

.main-title {
    padding-top: 16px;
    position: relative;
}

.main-title>p {
    font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;
    color: #202124;
    word-break: break-word;
    transition: all ease .5s;
}

.signup-form {
    display: inline-block;
    font-size: 14px;
    width: 100%;
}

.signup-right-part {
    max-width: 244px;
}

.name-take {
    justify-content: space-between;
    gap: 8px;
    padding-top: 24px;
}

.mail-wrapper-div {
    padding-top: 24px;
}

.mail-rule>p,
.password-rule>p {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4286;
    color: #5f6368;
    padding-left: 10px;
}

.use-current-address {
    padding: 14px 0;
}

.use-current-address>p,
.sign-in-tag {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 0.875rem;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    color: #1a73e8;
    transition: all ease .5s;
}

.password-take {
    justify-content: space-between;
    gap: 8px;
    padding-top: 24px;
}

.show-pass-div {
    align-items: center;
}

.show-pass-div input {
    width: 18px;
    height: 18px;
}

.show-password-title>p {
    font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 14px;
    color: #202124;
    line-height: 1.4286;
}

.button-wrapper {
    justify-content: space-between;
    padding: 100px 0 6px 0;
    align-items: center;
    max-width: 354px;
}

.submit-btn {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: .875rem;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    border-radius: 4px;
    color: #fff;
    padding: 10px 24px;
    background-color: #1a73e8;
}

.signup-right-part .signup-quotes {
    color: #202124;
    font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    line-height: 1.4286;
}

.transaction-relative {
    position: relative;
    padding-top: 8px;
    flex: 1;
}

.form-transaction {
    position: absolute;
    left: 2px;
    top: 0;
    background-color: white;
}

.transaction-relative>span {
    pointer-events: none;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    color: #5f6368;
    font-size: 16px;
    font-weight: 400;
    padding: 0 3px;
}

.transaction-relative>input:focus {
    border: 2px solid #1a73e8;
}

.transaction-relative>input:not(:focus)+span {
    transform: translate(12%, 86%) scale(100%);
    transition-duration: .15s;
}

.transaction-relative>input:focus+span {
    transform: translate(-12%, -8%) scale(70%);
    transition-duration: .15s;
    color: #1a73e8;
    background-color: #fff;
}

.input-filled {
    transform: translate(-12%, -8%) scale(70%) !important;
}

/* validation classes */
.border-red {
    border-color: #ff0000;
}

.visible {
    display: block ! important;
}

.hidden {
    display: none;
}

.empty-field-alart>p {
    font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 12px;
    color: #d93025;
    line-height: 1.4286;
    padding-top: 5px;
}

.empty-field-alart>p:before {
    content: "";
    background: url(./image/alert-icon.png) no-repeat;
    background-size: 18px;
    background-position: left;
    padding: 12px;
}

.sign-in-email {
    padding: 15vh;
}

.welcome {
    width: 90%;
    height: 100vh;
    margin: auto;
    background: url(./image/google-logo-2.svg) no-repeat center;
    background-size: contain;
}

/* Sign-in email page */
.sign-in-email input,
.sign-in-pass input {
    color: #202124;
    font-size: 16px;
    height: 28px;
    padding: 20px 15px;
}

.subtitle {
    padding-top: 7px;
    position: relative;
}

.sign-in-email .transaction-relative>input:not(:focus)+span,
.sign-in-pass .transaction-relative>input:not(:focus)+span {
    transform: translate(12%, 95%) scale(100%);
    transition-duration: .15s;
    background-color: transparent;
}

.forget {
    padding-top: 10px;
    padding-bottom: 45px;
}

.forget a,
.learn-more a {
    font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    color: #1a73e8;
    display: inline-block;
    font-weight: 500;
    letter-spacing: .25px;
    font-size: 14px;
}

.not-your-computer p {
    font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    color: #5f6368;
    font-size: 14px;
    line-height: 1.4286;
}

.submit-wrapper>div {
    padding: 8px;
    border-radius: 10px;
    transition: all ease-in .15s;
}

.submit-wrapper>div:hover {
    background-color: #eaf3ff;
}

.sign-in-email .submit-wrapper,
.sign-in-pass .submit-wrapper {
    padding-top: 50px;
}

.section-wrapper {
    gap: 200px;
    position: absolute;
    transition: all ease .5s;
}

.signup-wrapper {
    min-width: 666px;
    justify-content: space-between;
}

.frame-box {
    padding: 48px 40px;
    max-width: 748px;
    width: 748px;
    border: 1px solid #dadce0;
    border-radius: 8px;
    margin: auto;
    transition: all ease .5s;
    overflow: hidden;
}

.scale-small {
    transform: scaleX(0.6);
    padding: 48px 66px;
}

.transition-left-first {
    transform: translateX(-843px) scaleX(1.67);
}

.transition-left-second {
    transform: translateX(-1791.5px) scaleX(1.67);
}

.transition-google-logo {
    transform: translateX(146.5px);
}


.google-logo-image img {
    transition: all ease .5s;
}

.frame {
    padding-bottom: 331px;
    position: relative;
}

.signin-form {
    min-width: 368px;
}

.button-wrapper-fix {
    transform-origin: 0% 50%;
    transform: scaleX(1.74);
}

.signin-signup {
    padding: 4px;
    border-radius: 4px;
}

.signin-signup:hover {
    cursor: pointer;
    background-color: #eaebff;
}

.create-successful {
    background-color: #b4ffa1;
    position: absolute;
    left: 80px;
}

.horizontel-center {
    position: absolute;
    left: 26.5%;
    transform: translateX(-26.5%);
}

.horizontel-center-subtitle {
    position: absolute;
    left: 30%;
    transform: translateX(-49%);
}

.min-height {
    min-height: 45px;
}

.padding-top-zero {
    padding-top: 0 !important;
}


/* Media queries */
@media only screen and (max-width: 901px) {
    .signup-right-part {
        display: none;
    }

    .signup-main-wrapper .signup-wrapper {
        flex-direction: column;
    }

    .signup-left-part {
        width: 100%;
        transition: all ease .5s;
    }

}

@media only screen and (max-width: 601px) {

    .name-take,
    .password-take {
        flex-direction: column;
    }

    .signup-main-wrapper {
        padding: 15vh 5vh;
    }

    .sign-in-email {
        padding: 15vh 0;
    }

}